body
 {
    background-color: cornsilk;
    color:black;
    font-size: 21px;

    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

h1
{
    font-size: 70px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
}

h2
{
    margin-top: 0px; 
    /* this kills space between the two. space is always caused by the margins */
}

p
{
    margin-top: 0px;
    margin-bottom: 20px;
    color:black;

}

a:link
{
    color: red;
}
a:visited
{
    color: blue;
}
a:hover,
a:focus
{
    color: green;
}


p, h1
{
    color: grey;
}

